
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Happy+Monkey&family=Rock+Salt&display=swap');

h1, h2, h3, h4 {font-family: 'Rock Salt', Arial, Helvetica, sans-serif;}
p {font-family: 'Happy Monkey', Arial, Helvetica, sans-serif}
#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-img{
    width:100%;
}

.logo{
    width:80px;
}

.class{
    width:80px;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: whitesmoke;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
    
}

.button-box{
    text-align:center;
}

main section{
    text-align: center;
    padding: 20px;
}
section{
    margin: 3em 0 3em 0;
}

#background{
    height: 725px;
    background-color: #4C5454;
}

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

header {
    background-color: #4C5454;
    color: whitesmoke;
    padding: 1em
}

nav a:hover{
    background-color:white;
    color: black;
}


.book, .join{
    background-color:navy;
    color:whitesmoke;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px 30px;

}
.book:hover, .join:hover{
    background-color:whitesmoke;
    color:navy;
    border: 2px solid navy;
}
.msg{
    background-color:#99DDFF;
    line-height: 1.5em;
}

footer{
    background-color:white;
    color:#4C5454;
    padding: 25px 50px;
    background-color: beige;
}

.home-title{
    color:#064789;
    font-size: 2em;
    margin-top: 10px;
}

.rivers-card{
    margin: 200px 0; 

}

.camping-card{
    margin: 200px 0;
}

.rapids-card{
    margin: 200px 0;
}

h4{
    color:#00b4d8;
}

.msg h2{
    color:#064789;
    margin: 0;
}

.msg p{
    color:#064789;
    padding-bottom: 15px;
}

footer p{
    font-size:1.2em;
}

.social img{
    padding-top: 15px; 
}

.card-img{
    border: 10px black solid;

}

.mountains{
    box-sizing: border-box;
    margin-top: 3em;
    margin-bottom: 3em;

}

.icon{
    padding-top: 10px;
}

footer p a:hover{
    text-decoration: underline;
}

footer a{
   color: #4C5454;;
   text-decoration: none;
   margin-top: 200px;
}

footer a:hover{
    color: #47d1de;